.book {
	background: white;
	border-radius: 10px;
	box-shadow: 2.5px 2.5px 2.5px #D5DADA;
	margin: 0 10px;
	max-width: 240px;
	overflow: hidden;
}
.book-footer {
	padding: 20 15px!important;
}

.book-footer > div {
	padding: 8px 0;
}

.book-title {
	color: #22ADA8;
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.02px;
}
.book-size {
	color: lightgray;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.02px;
}

.book-snapshot {
	width: 100%;
    min-height: 220px;
}